name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v4

      - name: Install UPX
        run: choco install upx -y

      - name: Get version
        id: version
        run: |
          $ver = (Select-String -Path pyproject.toml -Pattern 'version = "(.+)"').Matches.Groups[1].Value
          echo "VERSION=$ver" >> $env:GITHUB_OUTPUT

      - name: Build exe
        run: uv run --only-group build pyinstaller --clean hwmon.spec

      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.version.outputs.VERSION }}
          files: dist/hwmon.exe
